<div class="main-container">
  <div class="container-fluid">
    <div class="spacer">
      <div class="row">
        <h4>Search by category:</h4>
        <%= form_tag(category_search_path) do %>
          <% @categories.each do |category| %>
              <%= check_box_tag(category.name, value = "#{category.id}") %>
              <%= label_tag(category.name) %>
              <% end %>
              <%= submit_tag "Search", :class => "btn btn-default" %>
              <% end %>
          
        </br></br>

        <div class="col-md-9 col-sm-9 col-xs-9" id="right-border-bar"> <!-- col-sm-12 -->
          <div class="blog">
            <div class="blog-header">
              <h5 class="blog-title">Restaurants Around Flatiron</h5>
            </div>
            <div class="blog-body">
              <div id="map-canvas"></div>
            </div>
          </div>
        </div>
       <%= render "/restaurants/top_rated" %>
      </div><!-- row -->
    </div><!-- spacer -->
  </div><!-- container-fluid -->
</div><!-- main-container -->

<ul>
	<% @restaurants.each do |restaurant| %>
		<li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
	<%end%>
</ul>


