<div class="main-container" style="margin: auto;">
  <div class="container-fluid">
    <div class="spacer">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12"> 
          <div class="current-profile restaurant">
            <div class="restaurant-bg">
            </div>
            <div class="user-details place-details">
              <h1 class="user-name"><%= @restaurant.name %></h1>
              <h4 class="user-name">
                <%= @restaurant.address_line1 %>
              </h4>
              <h4 class="user-name">
                <%= @restaurant.address_line2 %>
              </h4>
              <h4 class="user-name">
                <%= @restaurant.phone %>
              </h4>
              <% if @restaurant.menu %>
                <h4 class="user-name">
                  <a href="<%= @restaurant.menu %>">Menu</a>
                </h4>
              <% end %>
              <p>
                <%= form_tag(new_meal_path, method: :get) %>
                <%= hidden_field_tag 'restaurant_id', @restaurant.id %>
                <%= submit_tag "Make a New Meal", class: "btn btn-info" %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Start "Attending" And Reviews Row -->
      <div class= "row">
        <div class= "col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="blog blog-info">
            <div class="blog-header">
              <h5 class="blog-title">Attending:</h5>
            </div>
            <div class= "blog-body">
              <ul class="chats">
                  <% @meals.each do |meal| %>
                    <li class="in">
                      <img class="avatar" alt src="<%= meal.host.image %>">
                      <div class="message">
                    <%= link_to meal.name, meal, class: "name" %>
                      <span class="date-time">
                          - <%= meal.date.strftime("%A, %B %d, %Y at %l:%M %p") %>
                      </span>
                       </div>
                    </li>
                    <% unless meal.users.include?(current_user) %>
                      <%= form_tag(create_user_meal_path, method: :post) %>
                      <%= hidden_field_tag 'meal_id', meal.id %>
                      <%= submit_tag "Join This Meal!", class: "btn btn-info" %>
                    <% end %>
                  <% end %>
               </ul>
            </div> <!-- closes blog body -->
          </div> <!-- closes blog blog info-->
        </div> <!-- closes column-->

      <!-- End "Attending" Section. Begin Reviews Section -->
        <div class= "col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="blog blog-info">
            <div class="blog-header">
              <h5 class="blog-title">Reviews:</h5>
            </div>
            <div class= "blog-body">
              <ul class="chats">
                  <% @restaurant.reviews.each do |review| %>
                    <li class="out">
                    <div class="message">
                      <%= review.rating %>
                      <span class="date-time">
                         - <%= review.comment%>
                      </span>
                      <% if current_user == review.user %>
                        <%= link_to "Delete Review", "/meals/#{review.meal_id}/reviews/#{review.id}", method: "delete" %>
                      <% end %>
                    </div>
                    </li>
                  <% end %>
              </ul>
            </div> <!-- closes blog body-->
          </div> <!-- closes blog blog info-->
        </div><!-- col-lg Reviews -->
      </div>
  </div>
</div>


