<!DOCTYPE html>
<html>
<head>
  <title>FlatironEats</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
   <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js">
    </script>
</head>
<body class="<%= controller_name %> <%= action_name %>">
 <% if user_signed_in? %>
    <%= current_user.name unless current_user.name.nil? %>
    <img id="profile" src="<%=current_user.image%>">
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to 'Sign in with Github', user_omniauth_authorize_path(:github) %>
  <% end %>

<%= yield %>

</body>
</html>