<!DOCTYPE html>
<html>
<head>
  <title>FlatironEats</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js">
    </script>
</head>

<body class="<%= controller_name %> <%= action_name %>">
  <header>
    <div class="logo">
      <a href="/" data-original-title title>
        <%= image_tag 'FIS-logo-white.png', alt: "logo" %>
      </a>
    </div>
   <% if user_signed_in? %>
      <%= link_to "Home", root_path %>
      <%= link_to "Restaurants", restaurants_path %>
      <div class="pull-right">
        <ul id="mini-nav" class="clearfix">
          <li class="list-box dropdown hidden-xs">
            <%= link_to current_user.name, user_path(current_user) unless current_user.name.nil? %>
          </li>
          <li class="list-box user-profile hidden-xs">
            <a href="#" class="user-avtar"><img src="<%=current_user.image%>"></a>
          </li>
          <li class="list-box dropdown hidden-xs">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </div>
    <% end %>
  </header>

<%= yield %>

</body>
</html>